<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/general/styles/normolize.css">
    <link rel="stylesheet" href="/view/assets/footer/footer.css">
    <title>footer</title>
</head>

<body>

</body>

</html>

<footer class="footer">
    <div class="container">
        <div class="footer__nav">

            <div class="footer-section">
                <ul class="footer__nav-list">
                    <li><a class="footer-heading" href="">Компания</a></li>
                    <li><a class="footer-link" href="/categories">Каталог</a></li>
                    <li><a class="footer-link" href="/#section1">Примеры работ</a></li>
                    <li><a class="footer-link" href="/reviws">Отзывы</a></li>
                    <li><a class="footer-link" href="/usl">Услуги</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <ul class="footer__nav-list">
                    <li><a class="footer-heading" href="">Дополнительно</a></li>
                    <li><a class="footer-link" href="https://t.me/magnificocardesign">Мы в Телеграме</a></li>
                    <li><a class="footer-link" href="https://vk.com/magnifico_car_design">Мы ВКонтакте</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <ul class="footer__nav-list">
                    <li><a class="footer-heading" href="/#section3">Контакты</a></li>
                    <div class="footer__image-item">
                        <img class="footer-image" src="/view/general/icons/phone.svg" alt="Телефон">
                        <li><a class="footer-link" href="/#section3">+7 391 215-33-55</a></li><br>

                    </div>
                    <div class="footer__image-item">
                        <img class="footer-image" src="/view/general/icons/mail.svg" alt="Почта">
                        <li><a class="footer-link" href="/#section3">24Magnifico@bk.ru</a></li>
                    </div>
                    <div class="footer__image-item">
                        <img class="footer-image" src="/view/general/icons/geo.svg" alt="Адрес">
                        <li><a class="footer-link" href="/#section3">г. Красноярск, <br> ул. Мичурина 2Ж</a></li>
                    </div>
                </ul>
            </div>
        </div>

        <div class="footer__message">
            <span class="footer__divider"></span>
            <div class="footer__icon-container">
                <a href="https://vk.com/magnifico_car_design">
                <img src="/view/general/icons/VK.svg" alt="" class="footer__icon"></a>
                <a href="https://t.me/magnificocardesign"><img src="/view/general/icons/telegram.svg" alt="" class="footer__icon"></a>
                <!-- <a href=""><img src="/view/general/icons/app.svg" alt="" class="footer__icon"></a> -->
            </div>
            <span class="footer__divider"></span>
        </div>

        <div class="footer_logo">
            <a href="/">
            <img src="/view/general/icons/logo_footer.svg" alt="" class="footer__logo-img"></a>
        </div>
    </div>
</footer>

